<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col ">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'bank_app:customer' %}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bank_app:customer_make_transfer' %}">Transfer</a>
                </li>
            </ul>
            <div class="mr-auto col d-flex justify-content-end">
                <p>Signed as {{ user }} - <a href="{% url 'login_app:logout' %}">Logout</a></p>
            </div>
        </div>
    </nav>
</header>
