{% extends "bank_app/base.html" %}

{% block content %}
{% include 'header/customer_header.html' %}
<div class="d-flex justify-content-center">
    <h2>Transfer from your account</h2>
</div>
<div class="d-flex justify-content-center">
    {% if messages %}
    <div>
        {% for message in messages %}
        <p {% if message.tags %} class=" {{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
<form action="{% url 'bank_app:customer_make_transfer' %}" method="POST">
    {% csrf_token %}
    <div class=" row">
        <div class="col d-flex justify-content-end">
            <label for="amount">Amount</label>
        </div>
        <div class="col">
            <input type="number" name="amount" placeholder="Write the amount">
            <span>kr</span>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <label for="from_account">Select your account</label>
        </div>
        <div class="col">
            <select name="from_account">
                {% for account in customer_accounts %}
                <option value="{{ account.pk }}">{{account.name}}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <label for="to_account">Select debit account</label>
        </div>
        <div class="col">
            <select name="to_account" id="">
                {% for account in all_accounts %}
                <option value="{{ account.pk }}">{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end"> <label for="text">Text for debit account</label></div>
        <div class="col"><input type="text" name="text" placeholder="Write text for account"></div>

    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <p>
                <input type="checkbox" id="accept" name="accept" value="Terms">
                <label for="accept">Accept <a href="#">Terms & Conditions</a></label>
            </p>
        </div>
        <div class="col">
            <button type="submit">Make Transfer</button>
        </div>
    </div>

</form>

{% endblock %}
