<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reset Password</title>
</head>
<body>
   <h1>Reset Password</h1>
   <hr />
   <form action="{% url 'login_app:password_reset' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="user" placeholder="User Name">
      <input type="password" name="password" placeholder="New Password">
      <input type="password" name="confirm_password" placeholder="Repeat New Password">
      <input type="text" name="token" placeholder="Token">
      <button type="submit" >Reset</button>
   </form>
   <hr />
</body>
</html>
